<h1><%= t 'photo.edit' %></h1>

<% form_for [@user, @photo], :html => { :multipart => true } do |f| %>
  <%= render :partial => 'form', :object => f %>
  
  <p><%= f.submit t('update') %></p>
<% end %>

<%= link_to t('show'), [@user, @photo] %> |
<%= link_to t('back'), user_photos_path(@user) %>