<h2><%=h @photo.title %></h2>

<%= image_tag @photo.image.url %>

<p>
  <%=h @photo.description %>
</p>

<ul class="actions">
  <li><%= link_to 'Edit', [:edit, @photo] %></li>
  <li><%= link_to 'Back', user_photos_path(@user) %></li>
</ul>