<h2><%=h @photo.title %></h2>

<%= image_tag @photo.image.url %>

<p>
  <%=h @photo.description %>
</p>

<%= link_to 'Edit', edit_user_photo_path(@user, @photo) %> |
<%= link_to 'Back', user_photos_path(@user) %>
